.header {
    font-size: 27px;
    font-weight: 900;
    background-color: #1F2937;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


